<!-- Newsletter Start -->
<div class="container-fluid position-relative pt-5 wow fadeInUp" data-wow-delay="0.1s" style="z-index: 1">
  <div class="container">
    <div class="bg-primary p-5">
      <form class="mx-auto" style="max-width: 600px">
        <p class="text-white justify-content mb-4">Suscríbete a nuestro blog, conoce actualizaciones de las enfermedades, novedades de
          tratamientos y entérate de nuestros eventos y actividades.</p>

        <div class="input-group">
          <input type="text" class="form-control border-white p-3" placeholder="Tu correo" />
          <button class="btn btn-dark px-4">Suscribirse</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Newsletter End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light pt-5 wow fadeInUp" data-wow-delay="0.3s">
  <div class="container">
    <div class="row g-5 pt-4">
      <!-- Enlaces -->
      <div class="col-lg-4 col-md-6">
        <h3 class="text-white mb-4">Enlaces</h3>
        <div class="d-flex flex-column justify-content-start">
          <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>Inicio</a>
          <a class="text-light mb-2" href="{{ url_for('index') }}#quienes-somos"><i class="bi bi-arrow-right text-primary me-2"></i>Sobre Nosotros</a>
          <a class="text-light mb-2" href="{{ url_for('index') }}#enfermedades"><i class="bi bi-arrow-right text-primary me-2"></i>Enfermedades</a>
          <a class="text-light mb-2" href="{{ url_for('eventos') }}"><i class="bi bi-arrow-right text-primary me-2"></i>Eventos</a>
          <a class="text-light" href="{{ url_for('contact') }}"><i class="bi bi-arrow-right text-primary me-2"></i>Contactanos</a>
        </div>
      </div>

      <!-- Contact Information -->
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-white mb-4">Sede Roma</h3>
            <p><i class="bi bi-geo-alt text-primary me-2"></i>Durango 49, Piso 4, Roma Norte. Cuauhtémoc, 06700. Ciudad
              de México, CDMX.</p>
            <p><i class="bi bi-envelope-open text-primary me-2"></i>consultorioeinvestigacion@gmail.com</p>
            <p><i class="bi bi-telephone text-primary me-2"></i>551 054 6591 / 551 054 6592</p>
          </div>
          <div class="col-md-12">
            <h3 class="text-white mb-4">Sede Universidad</h3>
            <p><i class="bi bi-geo-alt text-primary me-2"></i>Av. Universidad 1008 int. 6020. Xoco, Benito Juárez.
              03330, Ciudad de México. CDMX.</p>
            <p><i class="bi bi-envelope-open text-primary me-2"></i>cig.sedeuniversidad@gmail.com</p>
            <p><i class="bi bi-telephone text-primary me-2"></i>559 314 4340 / 559 314 4341</p>
          </div>
        </div>
      </div>

      <!-- Redes Sociales -->
<div class="col-lg-4 col-md-6">
  <h3 class="text-white mb-4">Redes Sociales</h3>
  <div class="d-flex flex-wrap">
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://twitter.com/mexico_cig" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://www.facebook.com/cigmex" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://mx.linkedin.com/company/centro-de-investigacion-y-gastroenterologia" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://www.instagram.com/cigmx/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://www.youtube.com/channel/UC13qo6oxkMBByTwxqT0yObA" target="_blank"><i class="fab fa-youtube"></i></a>
    <a class="btn btn-primary btn-lg-square rounded me-2 mb-2" href="https://www.tiktok.com/@cigmx" target="_blank"><i class="fab fa-tiktok"></i></a>
  </div>
</div>


   <!-- CopyRight Start -->
<div class="row g-0 py-4">
  <div class="col-md-6 text-center text-md-start">
    <p class="mb-md-0">
      &copy; <a class="text-white" href="#">Centro de Investigación y Gastroenterología</a>. Todos los Derechos
      Reservados.
    </p>
  </div>

  <div class="col-md-6 text-center text-md-end">
    <p class="mb-0">
      Permiso de publicidad COFEPRIS:
      <span class="text-white border-bottom">243300201A1837</span>
    </p>
  </div>
</div>


</div>
<!-- Footer End -->