/********** Template CSS **********/
:root {
  --primary: #25cacc;
  --primary-rgb: 37, 202, 204;

  --secondary: #2a91cb;
  --secondary-rgb: 42, 145, 203;

  --light: #b4eaf4;
  --light-rgb: 180, 234, 244;

  --dark: #006495;
  --dark-rgb: 0, 100, 149;
}


h1,
h2,
.font-weight-bold {
  font-weight: 900 !important;
  color: var(--primary);
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
  color: var(--secondary);
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  background-color: var(--dark);
  color: #ffffff;
}

.btn-primary:hover {
  background: var(--secondary);
  border-color: var(--secondary);
}

.btn-secondary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--primary);
  transform: skew(40deg);
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2e2cc93f;
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 991.98px) {
  .banner {
    position: relative;
    margin-top: -90px;
    z-index: 1;
  }
}

.section-title h5::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  right: -55px;
  bottom: 11px;
  background: var(--primary);
}

.section-title h5::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  right: -75px;
  bottom: 11px;
  background: var(--secondary);
}

.twentytwenty-wrapper {
  height: 100%;
}

.hero-header {
  background: linear-gradient(rgba(62, 9, 9, 0.85), rgba(9, 30, 62, 0.85)),
    url(../img/doctors.jpeg) center center no-repeat;
  background-size: cover;
}

.bg-citas {
  background: linear-gradient(rgba(62, 9, 9, 0.85), rgba(9, 30, 62, 0.85)),
    url(../img/doctors.jpeg) center center no-repeat;
  background-size: cover;
}

.citas-form {
  background: var(--dark);
}

.enfermedades-item img,
.enfermedades-item .bg-light,
.enfermedades-item .bg-light h5,
.eventos-item .eventos-text {
  transition: 0.5s;
}

.enfermedades-item:hover img {
  transform: scale(1.15);
}

.eventos-item .eventos-text::after,
.enfermedades-item .bg-light::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 100px / 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
 
}

.eventos-item:hover .eventos-text::after,
.enfermedades-item:hover .bg-light::after {
  opacity: 1;
}

.bg-offer {
  background: url(../img/doctors.jpeg) center center no-repeat;
  background-size: cover;
}

.offer-text {
  background: var(--dark);
}

.ensayos-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 45px);
  height: 45px;
  top: calc(50% - 22.5px);
  left: -22.5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}

.ensayos-carousel:hover .owl-nav {
  opacity: 1;
}

.ensayos-carousel .owl-nav .owl-prev,
.ensayos-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: 0.5s;
}

.ensayos-carousel .owl-nav .owl-prev:hover,
.ensayos-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.bg-especialistas {
  background: url(../img/especialistas-bg.jpg) center center no-repeat;
  background-size: cover;
  width: fit;
  height: 60em;
}

.especialistas-carousel {
  background: url(https://giphy.com/gifs/animated-gif-motion-graphics-26BRGoqbUQvk8nwTC);
}

/* Modificando el Banner start */
.bg-secondary {
  justify-content: TOP;
  /* Centra horizontalmente */
  overflow: hidden;
}

/*disculpe mis comentarios tontos, es que estoy chiquito y me pierdo*/

.bg-secondary .contact-info {
  font: size 100%;
  overflow: hidden;
  /*poniendo el espacio maximo de los elementos*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; /* Asegura que el contenedor ocupe la altura máxima */
}
/*estilo de los contactos en el footer*/
.col-lg-3.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* Cambiando colores del top bar*/
.navbar-dark {
  background-color: #5c0f0f;
}

/*cambiando color de "enfermedades"*/
.fondo-enfermedades {
  background-color: #4682b4;
  color: #fff;
}

.eventos-item:hover .eventos-text::after,
.enfermedades-item:hover .fondo-enfermedades::after {
  opacity: 1;
}
.enfermedades-item .fondo-enfermedades::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 100px / 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.815);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

/*AGREGANDO ESTILO A ENFERMEDADES*/
.enfermedades-item {
    position: relative;
}
.color-padecimiento{
  background-color: #1B5091;
  color: #fff
}

.color-padecimiento:hover{
  background-color: rgba(110, 161, 212);
  color:#ffffff
}

.enfermedad-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: white;
    padding: 1rem;
    background-color: #0a3f6be5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.575);
    z-index: 10;
}

.hamburger {
    cursor: pointer;
    
} 

/* Estilo para la seccion de tratamientos*/
.treatment-menu {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.treatment-item h3 {
  color: #4682b4;
}
.treatment-item p {
  text-align: justify;
  margin: 10px 0;
  display: none;
}
.treatment-hamburger {
  cursor: pointer;
  margin-bottom: 20px;
  color: #021e35;
  font-size: 24px;
}

/* Estilo para BOTON OCULTAR-MOSTRAR tratamientos*/
.toggle-treatments {
  padding: 20px;
  margin: 2rem;
}

/* ESTILO PARA CUESTIONARIO QUE DETERMINA EL COSTO DEL FIBROSCAN*/

.cuestionario {
  padding: 20px;
  margin: 2rem;

}

/* ESTILO PARA NAVBAR*/

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-dark {
background-color: #021e35d4;
}

.dropdown-menu {
  background-color: #040b48a9;

}
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #fa08449f;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  color: var(--dark);
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

/* Ajustando logo de CIG */
.navbar-brand img {
  max-height: 2em; 
  width: auto;
  height: auto;
}

/* Ajustando margen de los botones en dispositivos moviles*/

@media (max-width: 991.98px) {
  .btn-secondary{
  margin-top: 5px;
  margin-bottom: 5px;
  }
}

/* Contenedor principal de los mensajes flash */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Mensajes de éxito */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Mensajes de error */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Mensajes de advertencia */
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

/* Mensajes informativos */
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

/* FIN Contenedor principal de los mensajes flash FIN*/

/* BOTONES WHATSAPP*/

:root {
  --primary: #25cacc;
  --primary-rgb: 37, 202, 204;

  --secondary: #2a91cb;
  --secondary-rgb: 42, 145, 203;
}

.btn-whatsapp-custom {
  background-color: var(--secondary);
  border: none;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.btn-whatsapp-custom:hover {
  background-color: var(--primary);
  color: #ffffff;
}
/* BOTONES WHATSAPP FIN*/