{% extends 'index.html' %} {% block main_content %}

<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
        <div class="section-title bg-light rounded h-100 p-5">
          <h5 class="position-relative d-inline-block text-primary text-uppercase">
            Únete a
          </h5>
          <h1 class="display-6 mb-4">Nuestro Blog</h1>
          <a href="{{ url_for('citas') }}" class="btn btn-primary py-3 px-5">Agendar cita</a>
        </div>
      </div>

      <!-- TARJETAS PARA BLOG Enero 2-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGENE4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Qué son los GLP-1 y por qué son relevantes en el hígado graso? — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                En los últimos años, los medicamentos conocidos como <strong>agonistas del GLP-1</strong> se mencionan
                cada vez más en las consultas médicas. Aunque inicialmente se desarrollaron para tratar la
                <strong>diabetes tipo 2</strong>, hoy se sabe que sus efectos van más allá del control del azúcar en
                sangre y que tienen un papel relevante en <strong>enfermedades metabólicas complejas</strong>, incluido
                el <strong>hígado graso</strong>.
              </p>
              </p>
              <a href="{{ url_for('blog.glp_1_por_que_son_relevantes_en_el_higado_graso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG Enero 1-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGENE1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                De la vitamina E a los GLP-1: cómo ha cambiado el tratamiento del hígado graso — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                Durante muchos años, el tratamiento del <strong>hígado graso</strong> fue limitado y, en la práctica,
                poco específico. Aunque hoy sabemos que esta enfermedad puede avanzar hacia <strong>inflamación,
                fibrosis y cirrosis</strong>, durante décadas no existieron medicamentos diseñados para actuar
                directamente sobre los mecanismos que dañan el hígado.
              </p>
              </p>
              <a href="{{ url_for('blog.tratamiento_higado_graso_glp_1_vitamina_e') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

       <!-- TARJETAS PARA BLOG Dicienbre 2-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGDIC4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                De la teoría a los datos: por qué FGF21 podría cambiar el rumbo del hígado graso avanzado — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                Durante muchos años, el <strong>hígado graso avanzado</strong> —conocido como <strong>MASH</strong>—
                ha sido una enfermedad difícil de tratar. Aunque afecta a millones de personas en el mundo y puede
                avanzar hacia <strong>fibrosis y cirrosis</strong>, no existían tratamientos aprobados capaces de
                detener su progresión.
              </p>
              </p>
              <a href="{{ url_for('blog.fgf21_podria_cambiar_el_rumbo_del_higado_graso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG Dicienbre 1-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGDIC2.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                FGF21 en palabras simples: cómo funciona y por qué está en el radar — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                En los últimos años, un nombre empezó a tomar fuerza en el mundo de la hepatología y el metabolismo:
                <strong>FGF21</strong>. Aunque para muchos pacientes suena como un concepto nuevo o demasiado técnico,
                para la comunidad científica se ha convertido en una de las <strong>moléculas más prometedoras</strong>
                para ayudar a tratar enfermedades relacionadas con el hígado y el metabolismo, como
                <strong>MASLD y MASH</strong>.
              </p>
              </p>
              <a href="{{ url_for('blog.fgf21_en_palabras_simples') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG Noviembre 4-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGNOV8.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Evolución de los protocolos de investigación: hacia una medicina más precisa y personalizada — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                La <strong>investigación clínica</strong> ha recorrido un largo camino en las últimas décadas. Los
                protocolos,
                que antes seguían un enfoque más generalizado, hoy buscan adaptarse a las <strong>características
                  individuales de cada paciente</strong>.
                Esta evolución refleja el avance hacia una <strong>medicina de precisión</strong>, donde los
                tratamientos se diseñan
                considerando el perfil genético, metabólico y clínico de las personas.
              </p>
              </p>
              <a href="{{ url_for('blog.evolucion_de_lod_protocolos_de_investigacion') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG Noviembre 3-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGNOV6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Suplementos naturales: cómo la cúrcuma, el jengibre y otros productos pueden dañar el hígado — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                El uso de <strong>suplementos naturales, tés y extractos herbales</strong> ha aumentado en los últimos
                años
                debido a la creencia de que “lo natural es siempre seguro”. Sin embargo, hoy sabemos que
                <strong>natural no significa inocuo</strong>: diversos estudios han demostrado que algunos de estos
                productos
                pueden provocar <strong>daño hepático severo</strong> cuando se consumen sin supervisión médica.
              </p>
              </p>
              <a href="{{ url_for('blog.suplementos_naturales') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG Noviembre 2-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGNOV3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Niveles de esteatosis S1-S3: cómo el exceso de grasa afecta tu hígado — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                Conoce qué significan los <strong>niveles de esteatosis</strong> S0,S1,S2,S3, cómo se evalúan con
                CAP/FibroScan, los
                factores de riesgo y las medidas para prevenir su progresión. Agenda tu evaluación en CIG.
              </p>
              </p>
              <a href="{{ url_for('blog.esteatosis_s1_s3') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG Noviembre 1-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGNOV1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Fibrosis hepática: niveles F0 a F4 </h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                <strong>Conocer los niveles de fibrosis (F0 a F4)</strong> es clave para entender la gravedad del daño
                hepático y las acciones necesarias para su manejo.
              </p>
              </p>
              <a href="{{ url_for('blog.fibrosis_hepatica_f0_f4') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG OCTUBRE 4-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGOCT8.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Avances 2024–2025 en CUCI y Crohn: lo que debes saber — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                En los últimos años, los estudios clínicos y la investigación en terapias han generado nuevas opciones y
                estrategias para el manejo de la CUCI y la enfermedad de Crohn, centradas en controlar la inflamación,
                mejorar la calidad de vida y reducir el riesgo de complicaciones.
              </p>
              </p>
              <a href="{{ url_for('blog.avances_cuci_y_crohn') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG OCTUBRE 3-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGOCT6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                MASH hoy: por qué hay pocas terapias aprobadas y qué viene — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                A pesar de su creciente prevalencia, el número de <strong>terapias
                  aprobadas sigue siendo limitado</strong>, lo que refleja la complejidad de la enfermedad y la
                rigurosidad de los procesos regulatorios.
              </p>
              </p>
              <a href="{{ url_for('blog.mash_por_que_hay_pocas_terapias_aprobadas') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG OCTUBRE 1-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGOCT3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                De NAFLD a MASLD y de NASH a MASH: lo que necesitas saber — CIG</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                En los últimos años, la terminología sobre enfermedades hepáticas ha evolucionado para
                reflejar mejor los mecanismos que las causan y cómo deben abordarse.
              </p>
              </p>
              <a href="{{ url_for('blog.mash_masd') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG OCTUBRE 2-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGOCT1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Qué es un protocolo de investigación clínica?</h5>
              <p class="card-text">
              <p class="mb-0 text-justify">
                Un <strong>protocolo de investigación clínica</strong> es un documento detallado que describe cómo se va
                a llevar a cabo un estudio clínico, desde la definición de objetivos hasta la manera de recopilar y
                analizar los datos.
              </p>
              </p>
              <a href="{{ url_for('blog.que_es_un_protocolo_de_investigacion_clinica') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG SEPTIEMBRE 4-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGSEPT5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cómo leer tu reporte de FibroScan</h5>
              <p class="card-text">
              <p class="mt-3 mb-0">Entiende, paso a paso, qué significan <strong>kPa</strong> (rigidez hepática) y
                <strong>CAP</strong> (grasa hepática) y cómo estos datos ayudan a tu médico.
              </p>
              </p>
              <a href="{{ url_for('blog.como_leer_fibroscan') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG SEPTIEMBRE 3-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/Post_donacionorganos.png') }}" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Día Nacional de la Donación de Órganos: Un acto de vida — CIG</h5>
              <p class="card-text">
                Cada 26 de septiembre se conmemora en México el Día Nacional de la Donación y
                Trasplante de Órganos y Tejidos.
              </p>
              <a href="{{ url_for('blog.dia_nacional_de_la_donacion_de_organos') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG SEPTIEMBRE 2-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGSEPT4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Semaglutida: nuevo tratamiento aprobado por la FDA para MASH — CIG</h5>
              <p class="card-text">
                La <strong>semaglutida</strong> ha sido recientemente aprobada por la FDA para el manejo de
                <strong>MASH</strong>
                (esteatohepatitis asociada a disfunción metabólica), una enfermedad hepática progresiva que puede
                avanzar a
                <em>fibrosis</em> y <em>cirrosis</em> si no se detecta y trata a tiempo.
              </p>
              <a href="{{ url_for('blog.semaglutida_nuevo_tratamiento_aprobado') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG SEPTIEMBRE-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGSEPT2.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Día Internacional de la Colangitis Biliar Primaria (PBC): nuevas esperanzas de tratamiento</h5>
              <p class="card-text">
                El <strong>11 de septiembre</strong> se conmemora el Día Internacional de la Colangitis Biliar Primaria
                (PBC), una enfermedad hepática poco frecuente que afecta en su mayoría a mujeres (alrededor del 90% de
                los casos).
                Este año la fecha cobra especial relevancia gracias a nuevos avances terapéuticos:
                <strong>seladelpar</strong> y <strong>elafibranor</strong>.
              </p>
              <a href="{{ url_for('blog.dia_colangitis_billiar_primaria') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG AGOSTO 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGAGO8.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿IMC normal y aún así hígado graso? | MASLD en personas delgadas</h5>
              <p class="card-text">
                Cuando pensamos en hígado graso, solemos imaginar a personas con sobrepeso u obesidad. Sin embargo, cada
                vez hay más evidencia de que esta condición también puede afectar a personas delgadas o con peso normal.
                A esta variante se le conoce como MASLD en personas con IMC normal, y es una realidad silenciosa que
                merece más atención.
              </p>
              <a href="{{ url_for('blog.imc_normal_yaunasi_higado_graso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG AGOSTO 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGAGO5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                5 señales de que podrías tener CBP (Colangitis Biliar Primaria)</h5>
              <p class="card-text">
                La <strong>Colangitis Biliar Primaria (CBP)</strong> es una enfermedad autoinmune crónica que afecta
                principalmente a mujeres y puede pasar desapercibida durante años.
                Aunque es poco frecuente, <strong>detectarla a tiempo</strong> es clave para frenar su progresión y
                mejorar la calidad de vida.
                A continuación, cinco señales de alerta que conviene conocer.
              </p>
              <a href="{{ url_for('blog.señales_cbp') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG AGOSTO 02-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGAGO4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Checklist preconsulta gastro: datos que tu médico agradecerá</h5>
              <p class="card-text">
                Cuando tienes una cita con el gastroenterólogo, <strong>llevar la información correcta</strong> puede
                marcar la diferencia en el diagnóstico
                y tratamiento. No tienes que recordarlo todo de memoria: anótalo o tenlo listo. <strong>Llegar
                  preparado</strong> te dará tranquilidad y
                ayudará a que tu médico sea más preciso.
              </p>
              <a href="{{ url_for('blog.checklist_preconsulta') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG AGOSTO 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGAGO1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                5 señales de CUCI (Colitis Ulcerosa)</h5>
              <p class="card-text">
                La <strong>CUCI</strong> es una <em>enfermedad inflamatoria intestinal</em> que afecta el colon y el
                recto. Sus síntomas pueden confundirse con otros
                problemas digestivos, por lo que <strong>identificarla a tiempo</strong> es fundamental para evitar
                complicaciones como sangrado severo,
                pérdida de peso, anemia o incluso necesidad de cirugía.
                <a href="{{ url_for('blog.señales_cuci') }}" class="btn btn-primary">Leer
                  artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Ensayos clínicos que podrían transformar las enfermedades hepáticas</h5>
              <p class="card-text">
              <p>El <strong>hígado graso, la hepatitis crónica y la cirrosis avanzada</strong> continúan representando
                un reto para la salud pública.
                Sin embargo, la investigación clínica avanza rápidamente por medio de los <em>ensayos clínicos</em>,
                estudios rigurosos que
                evalúan terapias con potencial para cambiar el manejo de miles de pacientes.</p>
              <a href="{{ url_for('blog.ensayos_clinicos_enfemedades_hepaticas') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                PBC en mujeres: cifras, síntomas y tratamiento</h5>
              <p class="card-text">
              <p>La <strong>colangitis biliar primaria (PBC)</strong> es una enfermedad autoinmune que destruye de
                manera
                progresiva
                los conductos biliares intrahepáticos. Afecta sobre todo a <em>mujeres de 40-60&nbsp;años</em> y, sin un
                diagnóstico
                oportuno, puede avanzar hacia fibrosis, cirrosis o fallo hepático.</p>
              <a href="{{ url_for('blog.pbc_mujeres') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 02-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis compensada: ¿Qué hacer si tengo el diagnóstico?</h5>
              <p class="card-text">
              <p>La <strong>cirrosis compensada</strong> es una fase silenciosa, pero crítica, de la enfermedad hepática
                crónica.
                Aunque el hígado presenta cicatrices (fibrosis significativa), aún logra cumplir sus funciones básicas.
                Detectarla a tiempo <em>permite frenar la progresión</em> y evitar complicaciones mayores.</p>
              <a href="{{ url_for('blog.cirrosis_compensada_diagnostico') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Crohn vs CUCI: 5 diferencias clave</h5>
              <p class="card-text">
                La <strong>enfermedad de Crohn</strong> y la <strong>colitis ulcerativa</strong> (CUCI) son las dos
                formas principales de
                enfermedad inflamatoria intestinal (EII). Aunque comparten síntomas como diarrea, dolor abdominal y
                pérdida de
                peso, presentan diferencias fundamentales que influyen en el diagnóstico, el tratamiento y el
                pronóstico.
                Conócelas a continuación.</p>
              <a href="{{ url_for('blog.crohn_vs_cuci_diferencias_clave') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JUNIO 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hígado graso: 10 preguntas para tu médico</h5>
              <p class="card-text">
                ¿Te diagnosticaron hígado graso? Estas son las 10 preguntas que debes hacer a tu médico para entender tu
                diagnóstico, tratamiento y cómo mejorar tu salud hepática.</p>
              <a href="{{ url_for('blog.higado_graso_10_preguntas') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JUNIO 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis compensada y descompensada | Diferencias, síntomas y tratamiento</h5>
              <p class="card-text">
                Descubre la diferencia entre cirrosis compensada y descompensada, sus síntomas y complicaciones, así
                como los protocolos clínicos disponibles en el Centro de Investigación y Gastroenterología.</p>
              <a href="{{ url_for('blog.cirrosis_compensada_descompensada') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Día Mundial del Hígado Graso</h5>
              <p class="mb-0 text-justify">
                Cada año, el <strong>segundo jueves de junio</strong> se conmemora el <strong>Día Mundial del Hígado
                  Graso</strong>.
                El objetivo es crear conciencia sobre la <em>enfermedad por hígado graso no alcohólico (EHGNA)</em>, una
                afección que impacta a millones sin dar señales visibles.
                <br><strong>💬 Actuar hoy significa un futuro más saludable.</strong>
              </p>
              <a href="{{ url_for('blog.dia_mundial_higado_graso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedad Renal Crónica: Síntomas, Prevención y Tratamiento</h5>
              <p class="card-text">
                Descubre cómo prevenir la enfermedad renal crónica (ERC), cuáles son sus síntomas, factores de riesgo y
                las opciones de tratamiento disponibles en el Centro de Investigación y Gastroenterología.</p>
              <a href="{{ url_for('blog.enfermedad_renal_cronica') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->



      <!-- TARJETAS PARA BLOG MAYO 2025 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hepatitis B y C: El Enemigo Silencioso del Hígado</h5>
              <p class="card-text">
                Las hepatitis virales B y C son infecciones que atacan directamente al hígado y pueden
                permanecer silenciosas durante años. Si no se detectan y tratan a tiempo evolucionan a
                enfermedades crónicas potencialmente mortales como cirrosis o cáncer de hígado.
                <a href="{{ url_for('blog.hepatitis_b_c') }}" class="btn btn-primary">Leer
                  artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hipertensión e Infarto: La Alianza
                Silenciosa que Debemos Combatir</h5>
              <p class="card-text">
                Su mayor amenaza radica en su
                carácter silencioso: muchas personas viven con presión elevada sin saberlo, hasta que ocurre
                un evento grave como un infarto.</p>
              <a href="{{ url_for('blog.hipertension_infarto') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG MAYO 2025 02-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedad de Crohn: Entendiendo una
                Condición Crónica del Intestino</h5>
              <p class="card-text">
                Aunque la enfermedad de Crohn no tiene cura, sí es posible controlar los síntomas y
                mejorar la calidad de vida con un tratamiento adecuado y seguimiento médico.</p>
              <a href="{{ url_for('blog.enfermedad_crohn') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY2.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Estatinas y Nuevas Alternativas: Un Paso Adelante en el Control del Colesterol</h5>
              <p class="card-text">
                Durante décadas, las estatinas han sido el pilar para tratar el colesterol elevado. Sin embargo, la
                investigación médica ha avanzado, ofreciendo nuevas opciones para quienes no toleran estos medicamentos
                o requieren un control más estricto. </p>
              <a href="{{ url_for('blog.estatinas_control_colesterol') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Abril: Mes de la Conciencia sobre la Salud Hepática y el Control de la Diabetes</h5>
              <p class="card-text">
                Abril es un mes clave para crear conciencia sobre la importancia de cuidar nuestra salud hepática y
                controlar enfermedades relacionadas como el hígado graso y la diabetes tipo 2. Reflexionar sobre estos
                temas es esencial para prevenir complicaciones a largo plazo y mejorar nuestra calidad de vida. </p>
              <a href="{{ url_for('blog.abril_mes_de_conciencia_salud_hepatica_diabetes') }}"
                class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hígado Graso: Síntomas, Tratamiento y Prevención</h5>
              <p class="card-text">
                En esta entrada te explicamos todo lo que necesitas saber: síntomas, causas y tratamientos disponibles
                para prevenir complicaciones graves. </p>
              <a href="{{ url_for('blog.higado_graso_sintomas_tratamiento') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                FibroScan Gratis en CDMX</h5>
              <p class="card-text">
                Detección Temprana de Enfermedades Hepáticas.
              </p>
              <a href="{{ url_for('blog.fibroscan_gratis_cdmx') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/logo_CIG_def.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Un Cambio que Representa Nuestra Esencia </h5>
              <p class="card-text">
                Nuestro logo es más que una imagen; es la representación visual de nuestra identidad, nuestros valores y
                nuestra misión. A medida que hemos crecido y evolucionado, sentimos la necesidad de actualizar nuestra
                identidad visual para reflejar mejor quiénes somos hoy y hacia dónde nos dirigimos.
              </p>
              <a href="{{ url_for('blog.nuevo_logo') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis y Hígado Graso: Un Camino Silencioso hacia el Daño Hepático </h5>
              <p class="card-text">
                La enfermedad del hígado graso no alcohólico (EHGNA) es una de las principales causas de cirrosis a
                nivel mundial. Se estima que cerca del 25% de la población global tiene algún grado de hígado graso, y
                de estos, entre un 10-20% desarrollará fibrosis avanzada y cirrosis si no se toman medidas preventivas.
              </p>
              <a href="{{ url_for('blog.cirrosis_higadograso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR8.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis y Diabetes: Una Relación de Alto Riesgo </h5>
              <p class="card-text">
                La cirrosis y la diabetes tipo 2 son dos enfermedades crónicas que pueden interactuar de manera
                peligrosa en el organismo.
              </p>
              <a href="{{ url_for('blog.cirrosis_diabetes') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                El Papel de los Médicos de Familia en la Prevención y Manejo de Enfermedades Crónicas </h5>
              <p class="card-text">
                Los médicos de familia desempeñan un papel fundamental en la atención de primer nivel, siendo la primera
                línea de contacto entre los pacientes y el sistema de salud.
              </p>
              <a href="{{ url_for('blog.medicos_familia_prevencion_manejo_enfermedades') }}"
                class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Obesidad: Un Problema Global con Impacto en la Salud </h5>
              <p class="card-text">
                La obesidad es una de las principales problemáticas de salud pública a nivel mundial. Se trata de una
                enfermedad crónica caracterizada por el exceso de grasa corporal, que aumenta el riesgo de desarrollar
                diversas condiciones médicas.
              </p>
              <a href="{{ url_for('blog.obesidad_un_problema_global') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Control del Azúcar en Sangre: Perspectivas y Estrategias para la Regulación Glucémica en la Salud </h5>
              <p class="card-text">
                El azúcar en sangre, o glucosa, es una fuente de energía esencial para el cuerpo, pero sus niveles deben
                mantenerse en un rango saludable para prevenir problemas de salud a corto y largo plazo.
              </p>
              <a href="{{ url_for('blog.control_azucar_glucosa_sangre_perspectivas_estrategias') }}"
                class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_2_1webp.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Obesidad y su Relación con el Hígado Graso </h5>
              <p class="card-text">
                La obesidad es uno de los principales desafíos de salud pública en el mundo actual, afectando a más del
                39% de la población adulta global según datos de la Organización Mundial de la Salud (OMS).
              </p>
              <a href="{{ url_for('blog.obesidad_relacion_higado_graso') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                El Control de Azúcar en Sangre: Métodos y Enfoques para Mantener la Glucosa en Niveles Saludables
              </h5>
              <p class="card-text">
                Exploramos los métodos más comunes para monitorear y gestionar la glucosa en sangre, proporcionando un
                enfoque integral para mantener la salud.
              </p>
              <a href="{{ url_for('blog.control_azucar_glucosa_sangre') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/microP1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Microplásticos y su Impacto en el Hígado
              </h5>
              <p class="card-text">
                En los últimos años, investigaciones científicas han comenzado a examinar cómo la
                exposición a los microplásticos podría afectar a los órganos internos, en particular al hígado,
              </p>
              <a href="{{ url_for('blog.microplasticos_impacto_higado') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/eba98193-ef8d-4aeb-8e3d-e6fc0a1a7d79_2.webp') }}"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Sabías que el hígado y la salud mental se relacionan?
              </h5>
              <p class="card-text">
                En este artículo exploraremos cómo la salud mental influye en el hígado y cómo las enfermedades
                hepáticas pueden, a su vez, afectar tu bienestar emocional.
              </p>
              <a href="{{ url_for('blog.salud_mental_higado') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/bigheartxvape.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Cómo Afecta el Consumo de Vapeadores Electrónicos y Tabaco al
                Hígado y al Corazón?
              </h5>
              <p class="card-text">
                Aunque el tabaco es conocido por sus efectos adversos a largo plazo, los vapes, aunque se consideran
                menos dañinos en algunos aspectos, no están exentos de riesgos.
              </p>
              <a href="{{ url_for('blog.blog_vapes_tabaco') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/curcuma.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Por Qué Evitar los Remedios Caseros para el Hígado Graso?
              </h5>
              <p class="card-text">
                Aunque las hierbas y productos naturales pueden tener beneficios para la salud en algunos casos, no
                todos los remedios caseros son adecuados para tratar afecciones graves.
              </p>
              <a href="{{ url_for('blog.evitar_remedios_caseros') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/conceptofdiabetesandprediabetes.webp') }}" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Diabetes y Prediabetes
              </h5>
              <p class="card-text">
                Consejos para una Alimentación Saludable Durante las Festividades Navideñas
              </p>
              <a href="{{ url_for('blog.diabetes_prediabetes') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/asimpleillustrationofaliverplaced.webp') }}"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedades Respiratorias y sus Consecuencias en el Hígado Graso y
                Personas con Obesidad
              </h5>
              <p class="card-text">
                Las enfermedades respiratorias, tanto agudas como crónicas, son una causa importante de morbilidad en la
                población mundial, y su relación con otras enfermedades del organismo, como el hígado graso y la
                obesidad, puede tener consecuencias graves para la salud.
              </p>
              <a href="{{ url_for('blog.enfermedades_respiratorias') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/heart_stadistics.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Predicción de Tendencias Futuras en la Mortalidad
              </h5>
              <p class="card-text">
                Con el aumento de la población global y el cambio de los patrones de salud pública, la predicción de las
                tendencias futuras en la mortalidad por ECV y sus factores de riesgo se vuelve cada vez más crucial para
                los responsables de las políticas de salud.
              </p>
              <a href="{{ url_for('blog.tendencias_futuras_en_la_mortalidad') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->




      <!-- PLANTILLAS PARA FUTURAS ENTRADAS DE BLOG 

              
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    -->
      <!-- eventos End -->
      {% endblock %}
    </div>
  </div>
</div>