{% extends 'index.html' %} {% block main_content %}

<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
        <div class="section-title bg-light rounded h-100 p-5">
          <h5 class="position-relative d-inline-block text-primary text-uppercase">
            Únete a
          </h5>
          <h1 class="display-6 mb-4">Nuestro Blog</h1>
          <a href="{{ url_for('citas') }}" class="btn btn-primary py-3 px-5">Agendar cita</a>
        </div>
      </div>

<!-- TARJETAS PARA BLOG AGOSTO 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGAGO1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                5 señales de CUCI (Colitis Ulcerosa)</h5>
              <p class="card-text">
              La <strong>CUCI</strong> es una <em>enfermedad inflamatoria intestinal</em> que afecta el colon y el recto. Sus síntomas pueden confundirse con otros
        problemas digestivos, por lo que <strong>identificarla a tiempo</strong> es fundamental para evitar complicaciones como sangrado severo,
        pérdida de peso, anemia o incluso necesidad de cirugía.
              <a href="{{ url_for('blog.señales_cuci') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

<!-- TARJETAS PARA BLOG JULIO 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Ensayos clínicos que podrían transformar las enfermedades hepáticas</h5>
              <p class="card-text">
              <p>El <strong>hígado graso, la hepatitis crónica y la cirrosis avanzada</strong> continúan representando un reto para la salud pública. 
         Sin embargo, la investigación clínica avanza rápidamente por medio de los <em>ensayos clínicos</em>, estudios rigurosos que
         evalúan terapias con potencial para cambiar el manejo de miles de pacientes.</p>
              <a href="{{ url_for('blog.ensayos_clinicos_enfemedades_hepaticas') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                PBC en mujeres: cifras, síntomas y tratamiento</h5>
              <p class="card-text">
              <p>La <strong>colangitis biliar primaria (PBC)</strong> es una enfermedad autoinmune que destruye de
                manera
                progresiva
                los conductos biliares intrahepáticos. Afecta sobre todo a <em>mujeres de 40-60&nbsp;años</em> y, sin un
                diagnóstico
                oportuno, puede avanzar hacia fibrosis, cirrosis o fallo hepático.</p>
              <a href="{{ url_for('blog.pbc_mujeres') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 02-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis compensada: ¿Qué hacer si tengo el diagnóstico?</h5>
              <p class="card-text">
              <p>La <strong>cirrosis compensada</strong> es una fase silenciosa, pero crítica, de la enfermedad hepática
                crónica.
                Aunque el hígado presenta cicatrices (fibrosis significativa), aún logra cumplir sus funciones básicas.
                Detectarla a tiempo <em>permite frenar la progresión</em> y evitar complicaciones mayores.</p>
              <a href="{{ url_for('blog.cirrosis_compensada_diagnostico') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JULIO 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUL1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Crohn vs CUCI: 5 diferencias clave</h5>
              <p class="card-text">
                La <strong>enfermedad de Crohn</strong> y la <strong>colitis ulcerativa</strong> (CUCI) son las dos
                formas principales de
                enfermedad inflamatoria intestinal (EII). Aunque comparten síntomas como diarrea, dolor abdominal y
                pérdida de
                peso, presentan diferencias fundamentales que influyen en el diagnóstico, el tratamiento y el
                pronóstico.
                Conócelas a continuación.</p>
              <a href="{{ url_for('blog.crohn_vs_cuci_diferencias_clave') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JUNIO 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hígado graso: 10 preguntas para tu médico</h5>
              <p class="card-text">
                ¿Te diagnosticaron hígado graso? Estas son las 10 preguntas que debes hacer a tu médico para entender tu
                diagnóstico, tratamiento y cómo mejorar tu salud hepática.</p>
              <a href="{{ url_for('blog.higado_graso_10_preguntas') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG JUNIO 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis compensada y descompensada | Diferencias, síntomas y tratamiento</h5>
              <p class="card-text">
                Descubre la diferencia entre cirrosis compensada y descompensada, sus síntomas y complicaciones, así
                como los protocolos clínicos disponibles en el Centro de Investigación y Gastroenterología.</p>
              <a href="{{ url_for('blog.cirrosis_compensada_descompensada') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Día Mundial del Hígado Graso</h5>
              <p class="mb-0 text-justify">
        Cada año, el <strong>segundo jueves de junio</strong> se conmemora el <strong>Día Mundial del Hígado Graso</strong>.  
        El objetivo es crear conciencia sobre la <em>enfermedad por hígado graso no alcohólico (EHGNA)</em>, una afección que impacta a millones sin dar señales visibles.  
        <br><strong>💬 Actuar hoy significa un futuro más saludable.</strong>
      </p>
              <a href="{{ url_for('blog.dia_mundial_higado_graso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGJUN1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedad Renal Crónica: Síntomas, Prevención y Tratamiento</h5>
              <p class="card-text">
                Descubre cómo prevenir la enfermedad renal crónica (ERC), cuáles son sus síntomas, factores de riesgo y
                las opciones de tratamiento disponibles en el Centro de Investigación y Gastroenterología.</p>
              <a href="{{ url_for('blog.enfermedad_renal_cronica') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->



      <!-- TARJETAS PARA BLOG MAYO 2025 04-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY7.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hepatitis B y C: El Enemigo Silencioso del Hígado</h5>
              <p class="card-text">
                Las hepatitis virales B y C son infecciones que atacan directamente al hígado y pueden
                permanecer silenciosas durante años. Si no se detectan y tratan a tiempo evolucionan a
                enfermedades crónicas potencialmente mortales como cirrosis o cáncer de hígado.
                <a href="{{ url_for('blog.hepatitis_b_c') }}" class="btn btn-primary">Leer
                  artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG MAYO 2025 03-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY6.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hipertensión e Infarto: La Alianza
                Silenciosa que Debemos Combatir</h5>
              <p class="card-text">
                Su mayor amenaza radica en su
                carácter silencioso: muchas personas viven con presión elevada sin saberlo, hasta que ocurre
                un evento grave como un infarto.</p>
              <a href="{{ url_for('blog.hipertension_infarto') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG MAYO 2025 02-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedad de Crohn: Entendiendo una
                Condición Crónica del Intestino</h5>
              <p class="card-text">
                Aunque la enfermedad de Crohn no tiene cura, sí es posible controlar los síntomas y
                mejorar la calidad de vida con un tratamiento adecuado y seguimiento médico.</p>
              <a href="{{ url_for('blog.enfermedad_crohn') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG MAYO 2025 01-->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAY2.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Estatinas y Nuevas Alternativas: Un Paso Adelante en el Control del Colesterol</h5>
              <p class="card-text">
                Durante décadas, las estatinas han sido el pilar para tratar el colesterol elevado. Sin embargo, la
                investigación médica ha avanzado, ofreciendo nuevas opciones para quienes no toleran estos medicamentos
                o requieren un control más estricto. </p>
              <a href="{{ url_for('blog.estatinas_control_colesterol') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->


      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Abril: Mes de la Conciencia sobre la Salud Hepática y el Control de la Diabetes</h5>
              <p class="card-text">
                Abril es un mes clave para crear conciencia sobre la importancia de cuidar nuestra salud hepática y
                controlar enfermedades relacionadas como el hígado graso y la diabetes tipo 2. Reflexionar sobre estos
                temas es esencial para prevenir complicaciones a largo plazo y mejorar nuestra calidad de vida. </p>
              <a href="{{ url_for('blog.abril_mes_de_conciencia_salud_hepatica_diabetes') }}"
                class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Hígado Graso: Síntomas, Tratamiento y Prevención</h5>
              <p class="card-text">
                En esta entrada te explicamos todo lo que necesitas saber: síntomas, causas y tratamientos disponibles
                para prevenir complicaciones graves. </p>
              <a href="{{ url_for('blog.higado_graso_sintomas_tratamiento') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGABR1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                FibroScan Gratis en CDMX</h5>
              <p class="card-text">
                Detección Temprana de Enfermedades Hepáticas.
              </p>
              <a href="{{ url_for('blog.fibroscan_gratis_cdmx') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/logo_CIG_def.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Un Cambio que Representa Nuestra Esencia </h5>
              <p class="card-text">
                Nuestro logo es más que una imagen; es la representación visual de nuestra identidad, nuestros valores y
                nuestra misión. A medida que hemos crecido y evolucionado, sentimos la necesidad de actualizar nuestra
                identidad visual para reflejar mejor quiénes somos hoy y hacia dónde nos dirigimos.
              </p>
              <a href="{{ url_for('blog.nuevo_logo') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis y Hígado Graso: Un Camino Silencioso hacia el Daño Hepático </h5>
              <p class="card-text">
                La enfermedad del hígado graso no alcohólico (EHGNA) es una de las principales causas de cirrosis a
                nivel mundial. Se estima que cerca del 25% de la población global tiene algún grado de hígado graso, y
                de estos, entre un 10-20% desarrollará fibrosis avanzada y cirrosis si no se toman medidas preventivas.
              </p>
              <a href="{{ url_for('blog.cirrosis_higadograso') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR8.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Cirrosis y Diabetes: Una Relación de Alto Riesgo </h5>
              <p class="card-text">
                La cirrosis y la diabetes tipo 2 son dos enfermedades crónicas que pueden interactuar de manera
                peligrosa en el organismo.
              </p>
              <a href="{{ url_for('blog.cirrosis_diabetes') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR5.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                El Papel de los Médicos de Familia en la Prevención y Manejo de Enfermedades Crónicas </h5>
              <p class="card-text">
                Los médicos de familia desempeñan un papel fundamental en la atención de primer nivel, siendo la primera
                línea de contacto entre los pacientes y el sistema de salud.
              </p>
              <a href="{{ url_for('blog.medicos_familia_prevencion_manejo_enfermedades') }}"
                class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGMAR3.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Obesidad: Un Problema Global con Impacto en la Salud </h5>
              <p class="card-text">
                La obesidad es una de las principales problemáticas de salud pública a nivel mundial. Se trata de una
                enfermedad crónica caracterizada por el exceso de grasa corporal, que aumenta el riesgo de desarrollar
                diversas condiciones médicas.
              </p>
              <a href="{{ url_for('blog.obesidad_un_problema_global') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_4.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Control del Azúcar en Sangre: Perspectivas y Estrategias para la Regulación Glucémica en la Salud </h5>
              <p class="card-text">
                El azúcar en sangre, o glucosa, es una fuente de energía esencial para el cuerpo, pero sus niveles deben
                mantenerse en un rango saludable para prevenir problemas de salud a corto y largo plazo.
              </p>
              <a href="{{ url_for('blog.control_azucar_glucosa_sangre_perspectivas_estrategias') }}"
                class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_2_1webp.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Obesidad y su Relación con el Hígado Graso </h5>
              <p class="card-text">
                La obesidad es uno de los principales desafíos de salud pública en el mundo actual, afectando a más del
                39% de la población adulta global según datos de la Organización Mundial de la Salud (OMS).
              </p>
              <a href="{{ url_for('blog.obesidad_relacion_higado_graso') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/BLOGFEB_1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                El Control de Azúcar en Sangre: Métodos y Enfoques para Mantener la Glucosa en Niveles Saludables
              </h5>
              <p class="card-text">
                Exploramos los métodos más comunes para monitorear y gestionar la glucosa en sangre, proporcionando un
                enfoque integral para mantener la salud.
              </p>
              <a href="{{ url_for('blog.control_azucar_glucosa_sangre') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/microP1.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Microplásticos y su Impacto en el Hígado
              </h5>
              <p class="card-text">
                En los últimos años, investigaciones científicas han comenzado a examinar cómo la
                exposición a los microplásticos podría afectar a los órganos internos, en particular al hígado,
              </p>
              <a href="{{ url_for('blog.microplasticos_impacto_higado') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/eba98193-ef8d-4aeb-8e3d-e6fc0a1a7d79_2.webp') }}"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Sabías que el hígado y la salud mental se relacionan?
              </h5>
              <p class="card-text">
                En este artículo exploraremos cómo la salud mental influye en el hígado y cómo las enfermedades
                hepáticas pueden, a su vez, afectar tu bienestar emocional.
              </p>
              <a href="{{ url_for('blog.salud_mental_higado') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/bigheartxvape.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Cómo Afecta el Consumo de Vapeadores Electrónicos y Tabaco al
                Hígado y al Corazón?
              </h5>
              <p class="card-text">
                Aunque el tabaco es conocido por sus efectos adversos a largo plazo, los vapes, aunque se consideran
                menos dañinos en algunos aspectos, no están exentos de riesgos.
              </p>
              <a href="{{ url_for('blog.blog_vapes_tabaco') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/curcuma.webp') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                ¿Por Qué Evitar los Remedios Caseros para el Hígado Graso?
              </h5>
              <p class="card-text">
                Aunque las hierbas y productos naturales pueden tener beneficios para la salud en algunos casos, no
                todos los remedios caseros son adecuados para tratar afecciones graves.
              </p>
              <a href="{{ url_for('blog.evitar_remedios_caseros') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/conceptofdiabetesandprediabetes.webp') }}" class="card-img-top"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Diabetes y Prediabetes
              </h5>
              <p class="card-text">
                Consejos para una Alimentación Saludable Durante las Festividades Navideñas
              </p>
              <a href="{{ url_for('blog.diabetes_prediabetes') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/asimpleillustrationofaliverplaced.webp') }}"
              class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Enfermedades Respiratorias y sus Consecuencias en el Hígado Graso y
                Personas con Obesidad
              </h5>
              <p class="card-text">
                Las enfermedades respiratorias, tanto agudas como crónicas, son una causa importante de morbilidad en la
                población mundial, y su relación con otras enfermedades del organismo, como el hígado graso y la
                obesidad, puede tener consecuencias graves para la salud.
              </p>
              <a href="{{ url_for('blog.enfermedades_respiratorias') }}" class="btn btn-primary">Leer artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->

      <!-- TARJETAS PARA BLOG -->
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="eventos-item">
          <div class="card" style="width: 18rem">
            <img src="{{ url_for('static', filename='img/heart_stadistics.jpg') }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                Predicción de Tendencias Futuras en la Mortalidad
              </h5>
              <p class="card-text">
                Con el aumento de la población global y el cambio de los patrones de salud pública, la predicción de las
                tendencias futuras en la mortalidad por ECV y sus factores de riesgo se vuelve cada vez más crucial para
                los responsables de las políticas de salud.
              </p>
              <a href="{{ url_for('blog.tendencias_futuras_en_la_mortalidad') }}" class="btn btn-primary">Leer
                artículo</a>
            </div>
          </div>
        </div>
      </div>
      <!-- TARJETAS PARA BLOG END -->




      <!-- PLANTILLAS PARA FUTURAS ENTRADAS DE BLOG 

              
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="eventos-item">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    -->
      <!-- eventos End -->
      {% endblock %}
    </div>
  </div>
</div>