{% extends 'index.html' %}

{% block main_content %}
    <!-- Pricing Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-5">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Participa en estos</h5>
                        <h1 class="display-5 mb-0">Ensayos clinicos</h1>
                    </div>
                    <p class="mb-4">Puedes formar parte en estudios de investigación enfocados
                        en desarrollar nuevos medicamentos para tu enfermedad.</p>
                    <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Agenda una cita</h5>
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s">55 1054 6591 </h1>
                </div>
                <div class="col-lg-7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Higado Graso
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Personas mayores de 18 años hasta 75 años</li>
                                    <li>Que acepten firmar un consentimiento informado</li>
                                    <li>Que tengan una biopsia hepática con el diagnóstico de Esteatohepatitis. Si no cuenta con la biopsia, puede hacerse durante el período de selección, sin costo para el paciente.</li>
                                    <li>Sin antecedentes de otra enfermedad hepática (se hacen estudios en el período de selección)</li>
                                    <li>Sin hepatitis viral ni VIH</li>
                                    <li>Sin antecedentes de cáncer en los últimos cinco años.</li>
                                </ul>
                                
                                <ul>
                                    <li>Con fibrosis (cicatrización hepática) grado 1 en adelante</li>
                                    <li>Pueden tener diabetes mellitus controlada (hemoglobina glicosilada igual o menor a 9%), síndrome metabólico, obesidad, presión arterial alta controlada, enfermedad tiroidea controlada. No pueden tener diabetes de tipo 1.</li>
                                    <li>Aceptar pasar por el período de selección donde se harán pruebas como Resonancia magnética, estudios de laboratorio, electrocardiograma, sin costo para el paciente.</li>
                                    <li>Con peso estable en los últimos tres meses.</li>
                                    <li>Que puedan seguir instrucciones de aplicación del medicamento</li>
                                </ul>
                                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Colangitis
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Personas mayores de 18 años hasta 80 años</li>
                                    <li>Que acepten firmar un consentimiento informado</li>
                                    <li>Con diagnóstico de Colangitis Biliar Primaria (antes Cirrosis Biliar Primaria)</li>
                                    <li>Con nivel en sangre de fosfatasa alcalina elevado</li>
                                    <li>Pueden estar en tratamiento con ácido ursodesoxicólico en dosis estables por 8 semanas previas al estudio. También pueden tomar los siguientes medicamentos en dosis estables: bezafibrato, metotrexate, prednisona, azatioprina</li>
                                    <li>No tener otra enfermedad hepática como hepatitis viral o hepatitis autoinmune.</li>
                                    <li>No tener datos de descompensación del hígado (hidropesía, antecedente de sangrado de várices esofágicas, antecedente de coma hepático o encefalopatía)</li>
                                    <li>Nivel de bilirrubina en sangre menor de 2 mg/dl</li>
                                    <li>Pueden tener la presencia de anticuerpos como anticuerpos antimitocondriales o anticuerpos antinucleares específicos para CBP.</li>
                                    <li>Con electrocardiograma normal (si no cuentan con electrocardiograma, se podrá hacer uno en el periodo de selección).</li>
                                </ul>
                                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Cancer Hepático
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              
                                <ul>
                                    <li>Personas mayores de 18 años hasta 75 años</li>
                                    <li>Que acepten firmar un consentimiento informado</li>
                                    <li>Que no esté descompensado: es decir, no tener episodios de sangrado digestivo, hidropesía (ascitis o líquido en el abdomen) o encefalopatía hepática (coma hepático).</li>
                                    <li>Es preferible tener una biopsia hepática pero no es necesario.</li>
                                    <li>Las plaquetas necesitan ser más de 50,000 aunque no sean normales.</li>
                                    <li>La bilirrubina total debe ser menor a 2 mg/dl; funcionamiento renal adecuado.</li>
                                    <li>Sin hepatitis viral ni VIH.</li>
                                    <li>El puntaje de gravedad de la enfermedad hepática requiere ser MELD menor de 12 o Child – Pugh menor a 7.</li>
                                    <li>Sin antecedentes de cáncer en los últimos cinco años.</li>
                                    <li>Pueden tener diabetes mellitus controlada (hemoglobina glicosilada igual o menor a 9%), síndrome metabólico, obesidad, presión arterial alta controlada, enfermedad tiroidea controlada. No pueden tener diabetes de tipo 1.</li>
                                    <li>Aceptar pasar por el periodo de selección donde se harán pruebas como Resonancia magnética, ultrasonido, endoscopia, estudios de laboratorio, electrocardiograma, sin costo para el paciente.</li>
                                    <li>Que puedan seguir instrucciones de aplicación del medicamento.</li>
                                </ul>
                                
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Cirrosis Hepática
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                
                                <ul>
                                    <li>Personas mayores de 18 años hasta 75 años</li>
                                    <li>Que acepten firmar un consentimiento informado</li>
                                    <li>Que no esté descompensado: es decir, no tener episodios de sangrado digestivo, hidropesía (ascitis o líquido en el abdomen) o encefalopatía hepática (coma hepático).</li>
                                    <li>Es preferible tener una biopsia hepática pero no es necesario.</li>
                                    <li>Las plaquetas necesitan ser más de 50,000 aunque no sean normales.</li>
                                    <li>La bilirrubina total debe ser menor a 2 mg/dl; funcionamiento renal adecuado.</li>
                                    <li>Sin hepatitis viral ni VIH.</li>
                                    <li>El puntaje de gravedad de la enfermedad hepática requiere ser MELD menor de 12 o Child – Pugh menor a 7.</li>
                                    <li>Sin antecedentes de cáncer en los últimos cinco años.</li>
                                    <li>Pueden tener diabetes mellitus controlada (hemoglobina glicosilada igual o menor a 9%), síndrome metabólico, obesidad, presión arterial alta controlada, enfermedad tiroidea controlada. No pueden tener diabetes de tipo 1.</li>
                                    <li>Aceptar pasar por el periodo de selección donde se harán pruebas como Resonancia magnética, ultrasonido, endoscopia, estudios de laboratorio, electrocardiograma, sin costo para el paciente.</li>
                                    <li>Que puedan seguir instrucciones de aplicación del medicamento.</li>
                                </ul>
                                
                              </div>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ennsayos End -->
    
{% endblock %}