{% extends 'index.html' %}

{% block main_content %}

<!-- eventos Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Unete a </h5>
                    <h1 class="display-6 mb-4">Nuestros eventos</h1>
                    <a href="{{ url_for('citas') }}" class="btn btn-primary py-3 px-5">Agendar cita</a>
                </div>
            </div>

            <!-- tarjeta de eventos start-->

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="eventos-item">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='img/Carreracuadrado.webp') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Caminata-Carrera 4k
                                DIA MUNDIAL DE LA OBESIDAD
                            </h5>
                            <p class="card-text">El Centro de Investigación y Gastroenterología convoca al público en
                                general a participar en la Caminata-Carrera 4K: en conmemoración del Día Mundial de la
                                Obesidad.</p>                               
                            <a href="{{ url_for('carreracaminata') }}" class="btn btn-primary">Consulta las bases</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- tarjeta de eventos end-->

            <!-- tarjeta de eventos 

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="eventos-item">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="eventos-item">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="eventos-item">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="eventos-item">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='img/citas.jpeg') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
   eventos End -->
            {% endblock %}