{% block main_content %}
<!-- Carousel Start -->
<div class="container-fluid p-0">
  <div
    id="header-carousel"
    class="carousel slide carousel-fade particle"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="w-100"
          src="{{ url_for('static', filename='img/liver.jpeg') }}"
          alt="Image"
        />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3" style="max-width: 900px">
            <h5 class="text-white text-uppercase mb-3 animated slideInDown">
              Proteja su hígado de esta enfermedad
            </h5>
            <h1 class="display-1 text-white mb-md-4 animated zoomIn">
              Hígado Graso
            </h1>
            <a
              href="citas.html"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
              >Cita</a
            >
            <a
              href=""
              class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
              >Contactenos</a
            >
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="w-100"
          src="{{ url_for('static', filename='img/doctors3.jpg') }}"
          alt="Image"
        />
        <div
          class="carousel-caption d-flex flex-column align-items-center justify-content-center"
        >
          <div class="p-3" style="max-width: 900px">
            <h5 class="text-white text-uppercase mb-3 animated slideInDown">
              Acceda a una mejor calidad de vida
            </h5>
            <h1 class="display-1 text-white mb-md-4 animated zoomIn">
              Agende una valoración hepática
            </h1>
            <a
              href="citas.html"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
              >Cita</a
            >
            <a
              href=""
              class="btn btn-secondary py-md-3 px-md-5 animated slideInRight"
              >Contactenos</a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#header-carousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- Carousel End -->

<!-- Banner Start -->
<div class="container-fluid banner mb-5">
  <div class="container">
    <div class="row gx-0">
      <!-- Primera columna, ahora ocupa 6 de 12 unidades -->
      <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
        <div class="bg-primary d-flex flex-column p-5" style="height: 300px">
          <h3 class="text-white mb-3">Horario de atención</h3>
          <div class="d-flex justify-content-between text-white mb-3">
            <h6 class="text-white mb-0">Lunes a Viernes</h6>
            <p class="mb-0">9:00am - 10:00am</p>
          </div>
          <div class="d-flex justify-content-between text-white mb-3">
            <h6 class="text-white mb-0">Sabado</h6>
            <p class="mb-0">Cerrado</p>
          </div>
          <div class="d-flex justify-content-between text-white mb-3">
            <h6 class="text-white mb-0">Domingo</h6>
            <p class="mb-0">Cerrado</p>
          </div>
        </div>
      </div>
      <!-- Segunda columna, también ocupa 6 de 12 unidades -->
      <div class="col-lg-6 wow zoomIn" data-wow-delay="0.6s">
        <div class="bg-secondary d-flex flex-column p-5" style="height: 300px">
          <h3 class="text-white mb-3">Información de contacto</h3>
          <div class="contact-info mb-3">
            <div class="d-flex justify-content-between">
              <span class="text-white">Sucursal Durango:</span>
              <span class="text-white">551-054-6591</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="text-white">WhatsApp:</span>
              <span class="text-white">556-543-0983</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="text-white">Sucursal Universidad:</span>
              <span class="text-white">559-314-4340</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="text-white">WhatsApp:</span>
              <span class="text-white">564-407-1939</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title mb-4">
          <h5
            class="position-relative d-inline-block text-primary text-uppercase"
          >
            ¿Quienes somos?
          </h5>
          <h1 class="display-5 mb-0">
            Centro de investigación y gastroenterología
          </h1>
        </div>
        <h4 class="text-body fst-italic mb-4">
          Somos el primer centro de investigación interesado en crear conciencia
          y atender a las personas.
        </h4>
        <p class="mb-4">
          Nuestro centro de investigación ofrece un servicio a la altura de las
          mejores instituciones a nivel internacional
        </p>
        <div class="row g-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>Alta
              especialidad
            </h5>
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>Detección
              temprana
            </h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>Asesoramiento
              nutricional
            </h5>
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>Asesoramiento
              psicológico
            </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{{ url_for('static', filename='img/pulgar.jpeg') }}"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- enfermedades Start -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5 mb-5">
      <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px">
        <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
          <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/daño.jpeg') }}" style="object-fit: cover" />
          <img class="position-absolute w-100 h-100" src="{{ url_for('static', filename='img/sano.jpeg') }}" style="object-fit: cover" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title mb-5">
          <h5 class="position-relative d-inline-block text-primary text-uppercase">Informate sobre</h5>
          <h1 class="display-5 mb-0">Enfermedades hepáticas</h1>
        </div>
        <div class="row g-5">
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.6s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-1.jpg" alt="" />
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
              <h5 class="m-0">Dislipidemia</h5>
              <button onclick="mostrarInformacion('dislipidemia')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.9s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-2.jpg" alt="" />
            </div>
            <div class="position-relative rounded-bottom text-center p-4 fondo-enfermedades">
              <h5 class="m-0">Hipertensión</h5>
              <button onclick="mostrarInformacion('hipertension')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.3s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-3.jpg" alt="" />
            </div>
            <div class="position-relative rounded-bottom text-center p-4 fondo-enfermedades">
              <h5 class="m-0">Colangitis biliar primaria</h5>
              <button onclick="mostrarInformacion('colangitis')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.6s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-4.jpg" alt="" />
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
              <h5 class="m-0">Hígado graso</h5>
              <button onclick="mostrarInformacion('higado_graso')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.9s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-5.jpg" alt="" />
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
              <h5 class="m-0">Cirrosis</h5>
              <button onclick="mostrarInformacion('cirrosis')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.3s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-6.jpg" alt="" />
            </div>
            <div class="position-relative rounded-bottom text-center p-4 fondo-enfermedades">
              <h5 class="m-0">Obesidad</h5>
              <button onclick="mostrarInformacion('obesidad')">Ver más</button>
            </div>
          </div>
          <div class="col-md-6 enfermedades-item wow zoomIn" data-wow-delay="0.6s">
            <div class="rounded-top overflow-hidden">
              <img class="img-fluid" src="img/enfermedades-7.jpg" alt="" />
            </div>
            <div class="position-relative bg-light rounded-bottom text-center p-4">
              <h5 class="m-0">Enfermedad de Crohn</h5>
              <button onclick="mostrarInformacion('crohn')">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-lg-7">
        <div class="row g-5">
          <!-- Agrega más bloques como el anterior para las demás enfermedades -->
        </div>
      </div>
      <div class="col-lg-5 enfermedades-item wow zoomIn" data-wow-delay="0.9s">
        <div class="position-relative fondo-metabolico rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
          <h2 class="text-white mb-0">Síndrome Metabólico</h2>
          <p class="text-white mb-3">es un conjunto de afecciones que ocurren juntas y aumentan el riesgo de:</p>
          <h4 class="text-white mb-3">enfermedades cardíacas, accidentes cerebrovasculares y diabetes tipo 2</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="enfermedad-info" class="enfermedad-info">
  <div id="enfermedad-info-content"></div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>



<!-- enfermedades End -->

<!-- citas Start -->
<div
  class="container-fluid bg-primary bg-citas my-5 wow fadeInUp"
  data-wow-delay="0.1s"
>
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 py-5">
        <div class="py-5">
          <h1 class="display-5 text-white mb-4">¡Te invitamos a conocernos!</h1>
          <p class="text-white mb-0">
            Realizamos novedosos estudios en conjunto con las farmacéuticas más
            prestigiosas del mundo. El objetivo es ofrecer una alternativa a los
            padecimientos hepáticos más comunes.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="citas-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
          data-wow-delay="0.6s"
        >
          <h1 class="text-white mb-4">Agendar cita</h1>
          <form>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <select
                  class="form-select bg-light border-0"
                  style="height: 55px"
                >
                  <option selected>Padecimiento</option>
                  <option value="1">Hígado graso</option>
                  <option value="2">Cirrosis</option>
                  <option value="3">Colangitis biliar primaria</option>
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <select
                  class="form-select bg-light border-0"
                  style="height: 55px"
                >
                  <option selected>Selecione estudio</option>
                  <option value="1">Fibroscan</option>
                  <option value="2">Electrocardiograma</option>
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="text"
                  class="form-control bg-light border-0"
                  placeholder="Tu nombre"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="email"
                  class="form-control bg-light border-0"
                  placeholder="Tu correo"
                  style="height: 55px"
                />
              </div>
              <div class="col-12 col-sm-6">
                <div class="date" id="date1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control bg-light border-0 datetimepicker-input"
                    placeholder="Fecha"
                    data-target="#date1"
                    data-toggle="datetimepicker"
                    style="height: 55px"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="time" id="time1" data-target-input="nearest">
                  <input
                    type="text"
                    class="form-control bg-light border-0 datetimepicker-input"
                    placeholder="Hora"
                    data-target="#time1"
                    data-toggle="datetimepicker"
                    style="height: 55px"
                  />
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-dark w-100 py-3" type="submit">
                  Make citas
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- citas End -->

<!-- Offer Start -->
<div
  class="container-fluid bg-offer my-5 py-5 wow fadeInUp"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
        <div class="offer-text text-center rounded p-5">
          <h1 class="display-5 text-white">
            Realiza una valoración con nosotros
          </h1>
          <p class="text-white mb-4">
            Es completamente gratis y te acompañamos todo el tiempo, <br />
            estaras completamente informado acerca de tu progreso y <br />
            te guiaremos sobre todo el proceso. <br />
          </p>
          <a href="{{ url_for('citas') }}" class="btn btn-dark py-3 px-5 me-3"
            >Agende una cita</a
          >
          <a
            href="{{ url_for('especialistas') }}"
            class="btn btn-light py-3 px-5"
            >Especialistas</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->

{% endblock %}
