{% extends 'index.html' %}

{% block main_content %}

<!-- Aviso de Privacidad Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="privacy-policy">
    <div class="container">
        <!-- Título -->
        <div class="section-title mb-5 text-center">
            <h5 class="position-relative d-inline-block text-primary text-uppercase">Aviso de Privacidad</h5>
            <h1 class="display-5 mb-0">Imágenes, Fotografías, Audio y Video</h1>
        </div>


        <!-- Primera Sección de Texto -->
        <div class="bg-light p-4 rounded shadow mb-5 wow fadeIn" data-wow-delay="0.2s">
            <p class="mb-0 text-justify">
                El CENTRO DE INVESTIGACIÓN Y GASTROENTEROLOGÍA S.C. con domicilio en Durango 49, Colonia Roma, Alcaldía
                Cuauhtémoc, C.P. 06700 y portal de internet <a href="https://higadograso.mx/"
                    target="_blank">higadograso.mx</a>, es la responsable del uso, protección y manejo del tratamiento
                de los datos que se encuentren contenidos en el material fotográfico, audio y video obtenido con motivo
                de la Caminata-Carrera 4k, como parte de la cobertura que se hará de dicho
                evento o de eventos de la misma naturaleza, vinculados con el quehacer institucional de este Centro de
                Investigación, mismos que serán tratados de conformidad a lo dispuesto por la Ley de Protección de Datos
                Personales para la Ciudad de México, la Ley de Transparencia y Acceso a la Información Pública de la
                Ciudad de México, la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
            </p>
        </div>


        <!-- Segunda Sección de Texto -->
        <div class="bg-light p-4 rounded shadow mb-5 wow fadeIn" data-wow-delay="0.4s">
            <h3 class="text-primary">¿Para qué fines utilizaremos sus datos personales?</h3>
            <p class="mb-1 text-justify">Las fotografías, audios y videos que sean obtenidas en los eventos de carácter
                público, como parte de la Caminata-Carrera 4k, podrán ser publicados en los
                medios oficiales de comunicación social, página web oficial, redes sociales oficiales (Facebook,
                Instagram, Twitter, YouTube, etc.), además de lo anterior, podrán ser utilizados en la elaboración de la
                memoria de imágenes y fotografías, acervo documental, y demás actividades encaminadas a la difusión y
                promoción de las acciones realizadas por este Centro de Investigación.</p>
        </div>

        <!-- Tercera Sección de Texto -->
        <div class="bg-light p-4 rounded shadow mb-5 wow fadeIn" data-wow-delay="0.6s">
            <h3 class="text-primary">¿Qué datos personales utilizaremos para estos fines?</h3>
            <p class="mb-1 text-justify">Los datos personales que se recaban son: imágenes, fotografías, registro de
                audio y video; y en algunos casos, pudiera ser el nombre de particulares y/o de servidores públicos, con
                la finalidad de difundir la actividad institucional.</p>
        </div>

        <!-- Referencias -->
        <div class="bg-secondary text-white p-3 rounded wow fadeIn" data-wow-delay="0.8s">
            <h4 class="text-white">Fundamento Legal</h4>
            <ul>
                <li class="mb-1">Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados</li>
                <li class="mb-1">Ley de Protección de Datos Personales para la Ciudad de México</li>
                <li class="mb-1">Ley de Transparencia y Acceso a la Información Pública de la Ciudad de México</li>
            </ul>
        </div>
    </div>
</div>
<!-- Aviso de Privacidad End -->
{% endblock %}